[2020-12-01 13:16] lhl2617 opened #15 "[INFRA/CORE] Add `golintci-lint-action` to repo."
Add https://github.com/golangci/golangci-lint-action into the main repo.

[2020-12-01 13:18] lhl2617 opened #16 "[INFRA/CORE] Fix protected folder check"
`.github/workflows/protected_folder.yml` currently only echos and shows that the test passes on PR.

It would be nice to have a warning (although this is not possible) if protected folders (i.e. non-client-side code) are changed.

This should be possible via comments.

[2020-12-01 13:19] lhl2617 commented on #16
@Darrekt  feel free to pick up

[2020-12-01 13:19] lhl2617 commented on #15
@Darrekt  feel free to pick up

[2020-12-01 14:19] QFSW commented on #15
Do we want this to raise a warning via comment or cause the PR to fail? i.e could the linter ever be "wrong"?

[2020-12-01 14:19] lhl2617 commented on #15
@QFSW
![image](https://user-images.githubusercontent.com/33488131/100752241-44821a00-33e0-11eb-89bd-4a7a798300e0.png)

[2020-12-01 14:27] QFSW opened #18 "[INFRA/CORE] Ban panic and die from being used within client code"
Clients using panic or die will cause the whole simulation to fail irrecoverably, hence this needs to be banned in the rules
Ideally, we could have a CI action for this, but that is lower priority

[2020-12-01 14:29] lhl2617 commented on #18
rules for infra/rules instead - sorry for confusion.

[2020-12-01 14:29] lhl2617 commented on #18
i can pick up editing rules.

[2020-12-01 17:20] lhl2617 commented on #18
we could regex the diff in an action to look for `panic([.*])` or `die([.*])`--but to be honest that's a bit high effort low return... leaving this for now.

[2020-12-01 17:22] #18 closed

[2020-12-03 20:04] lhl2617 opened #21 "[INFRA/CORE] (Nice to have) discord bot that notifies #infrastructure on merge?"
low pri but really nice to have...

@QFSW  any ideas?

[2020-12-03 20:49] QFSW commented on #16
So I did a bit of digging on this, I found an action that should be able to leave a comment on a PR
https://github.com/unsplash/comment-on-pr

It uses a secret token for the posting. Unfortunately, secrets aren't available to PRs triggered by forks, which would render it useless. I did find this however which _could_ be promising

https://github.com/marketplace/actions/github-action-comment-pull-r

[2020-12-03 20:54] lhl2617 commented on #16
@QFSW  I'd say try it and see what happens? we can try from our team's fork

[2020-12-03 20:57] QFSW commented on #21
Want anything else as notifications? it gives us quite a breadth of options. For now I've done (we can make a new channel or remove some of them if it gets too spammy)

 - new forks
 - issue updates
 - PR updates

[2020-12-03 20:58] lhl2617 commented on #21
I think a new `infrastructure-github` channel would be neat!

[2020-12-03 21:03] QFSW commented on #21
Done. I want to make that channel readonly, but without removing the admin perm from `@everyone` that won't be possible

[2020-12-03 21:03] #21 closed

[2020-12-03 22:07] QFSW commented on #16
For anyone who want's to fix this
 - It used to work but V2 broke it, so the new trigger (either file trigger or new branch trigger) is broken
 - doesn't work on fork PRs

[2020-12-03 23:49] QFSW commented on #16
Fixed first issue, second is still present

[2020-12-03 23:54] QFSW opened #33 "[INFRA/CORE] Action that prevents a team from editing another teams code"
Similar to issue #16
When a team makes a PR, if there are any changes that are in other teams folders this should cause a failure
Naturally this only applies to fork PRs

Not sure how feasible this would be to do, but would be nice

[2020-12-04 13:09] lhl2617 commented on #16
tested on this repo and from a fork--working!

[2020-12-04 13:09] #16 closed

[2020-12-04 13:09] QFSW commented on #16
This has now been resolved

[2020-12-04 13:23] #15 closed

[2020-12-04 17:44] lhl2617 commented on #33
an easier way to tackle is likely check if >1 of `.../clients/team{1-6}` folders are changed

[2020-12-09 15:18] QFSW commented on #33
Tried looking into this but can't find anything on making a trigger that needs >1/n conditions to be met

[2020-12-09 15:34] lhl2617 commented on #33
we just have to be really careful then.... 😢

[2020-12-09 15:54] QFSW commented on #33
I think it could still be doable but really hacky and ugly, essentially you could do

[code]

And do that for all teams. Don't particularly want to do that though...

[2020-12-09 15:58] lhl2617 commented on #33
yeah let's just not

[2020-12-09 16:09] QFSW commented on #33
Actually, it might not be that bad if I write a program to generate the trigger. I'll need everyone's forks before doing that though

[2020-12-09 16:10] lhl2617 commented on #33
you can look via the client folder commits. I noticed @mpardalos has his own fork for some reason!

[2020-12-09 16:11] lhl2617 commented on #33
Another way is to only allow PRs form forks with the title [TEAMx] then detect the team num from there? I'm not sure if there's a way to trigger from there, plus titles can be changed--might cause more problems

[2020-12-09 16:12] lhl2617 commented on #33
Or, labels on the PR. I think this is slightly more robust. For PRs from forks, a TEAMx label is required.

[2020-12-09 16:17] lhl2617 commented on #33
https://github.community/t/do-something-if-a-particular-label-is-set/17149

[2020-12-13 21:42] lhl2617 opened #48 "[INFRA/CORE] Improve actions interface"
Actions are defined as `gameState`-mutating payloads returned by the running of the three orgs AND the running of a function that gets EoT (End of turn) actions from all the islands.

Now, this obviously has implications that require server-side validation.

So, teams who own org code _NEED_ to validate their own actions to make sure that before it is returned in any of the org running functions (

[2020-12-13 21:45] lhl2617 commented on #48
A design that _could_ be useful is to make every action impl. a validate func:

[code]
where we have a map mapping from the Action's enum pointing to its respective validator, and source could be any of the three orgs or the initiating island's ID. (Golang unfortunately doesn't have nice union types--we shall just resort to nil-able sourceOrg and Client)

[2020-12-13 21:47] lhl2617 commented on #48
cc @Darrekt

[2020-12-13 21:48] lhl2617 commented on #48
cc @yp717 if you have thought of it.

[2020-12-13 22:14] Darrekt opened #49 "[INFRA/CORE] Auto-PR all forks with updates when main is updated"
Currently, individual fork maintainers (presumably the infra reps) have to manually make a PR from main into their forks whenever it is updated. We would like to have an automatic PR to all forks of the project whenever a new changes are safely committed into main.

[2020-12-14 11:53] Darrekt commented on #49
I've found something that may be worth a further read...I'll look into it later. I'm going to focus on catching up with the codebase first.

https://stackoverflow.com/questions/23793062/can-forks-be-synced-automatically-in-github

[2020-12-17 21:22] #48 closed

[2020-12-17 21:22] lhl2617 commented on #48
closed - actions are policed by agents

[2020-12-17 23:09] Darrekt commented on #49
All teams can accomplish this by installing the following app on their forked repos:

https://github.com/wei/pull

That resolves the issue, closing.

[2020-12-17 23:09] #49 closed

[2020-12-17 23:10] lhl2617 commented on #49
lit. thx for this

[2020-12-18 11:25] Darrekt opened #56 "[INFRA/CORE] Logging actions in previous turn"
In this issue we propose a modification to `GameState` that allows us to store the actions taken in each turn.

As a quick refresher to those who may not have read the code, presently the game runs in a loop, triggered by the server's `EntryPoint` method. The observed `state` is simply an array of `GameState` objects.

[code]

The proposition is to add a `map[turnNumber][]common.Action` to the Gam

[2020-12-18 13:35] lhl2617 commented on #56
I'm thinking it'd be nicer to have `map[turnNumber]common.ActionResult` where
[code]
so we can keep track of errored out actions instead of ignoring them. This also means that clients can check if their actions succeeded.

[2020-12-18 13:37] lhl2617 commented on #56
Can you also ask IIGO/IIFO/IITO team if their actions have dedicated `initiators` (i.e. which island initiated it?) then we can extend it to `map[turnNumber](map[clientID]common.ActionResult)` which makes it even easier to track -- essentially we group them by which `clientID` initiated it. This is straightforward for end of turn actions, but idk if IIGO/IIFO/IITO has dedicated initiators for acti

[2020-12-18 13:41] lhl2617 commented on #56
cc @Neelesh99  @777jameskim

[2020-12-18 14:58] lhl2617 commented on #56
I'm overhauling the actions interface in favour of a better one in #59 - please work off that branch/merge that in first.

[2020-12-19 11:35] Darrekt commented on #56
I've merged it and fixed something that it broke in #61.

Am I having a brain fart, or did we just not think it through and blindly say that we needed a `map[TurnNumber]gamestate.ActionResult` when it should instead just be a `[]gamestate.ActionResult`? Each `GameState` is already mapped to (has) a specific `Turn`.

Am I missing something? If not, I'll go ahead and implement this as discussed with

[2020-12-19 12:01] lhl2617 commented on #56
closing for now, actions is now obsolete

[2020-12-19 12:01] #56 closed

[2020-12-20 01:04] lhl2617 opened #72 "[INFRA/CORE] logo, because why not?"

[2020-12-20 01:26] lhl2617 commented on #72
![image](https://user-images.githubusercontent.com/33488131/102703089-6db8fc00-4262-11eb-8187-29113afa973e.png)

[2020-12-20 01:32] lhl2617 commented on #72
draft
![image](https://user-images.githubusercontent.com/33488131/102703162-46aefa00-4263-11eb-9c81-b62aa10602a4.png)

[2020-12-20 01:34] lhl2617 commented on #72
![Uploading image.png…]()

[2020-12-20 01:34] lhl2617 commented on #72
![image](https://user-images.githubusercontent.com/33488131/102703188-8d9cef80-4263-11eb-87e6-c1534f1f3bc3.png)

[2020-12-20 14:10] #72 closed

[2020-12-22 00:52] lhl2617 opened #101 "[GOLINT] Issues for #85"
Issues for #85
[code]

[2020-12-22 00:55] lhl2617 opened #102 "[GOLINT] Issues for rules"
[code]

[2020-12-22 16:03] Eirikalb opened #110 "Add resourceTransaction Method for gifting"
uint I guess

on the note of the transfer impl. -- the server acts as a middle man? The server would call a "GetGifts" function that returns a list of GiftInfo to other clients.

"ReceiveGift" is good to record who has given the island a gift.

If you want to pass the client pointers around to the other clients that's fine with me--there's two risks:

1. Malicious clients may call functions intend

[2020-12-22 16:10] QFSW commented on #110
I'm completely fine with this for 2 main reasons

1. Anyone doing this would be _explicitly_ trying to cheat. We assume that clients are malicious, because out of programmer error, they may be so. I don't think however, that we should assume programmers are malicious. This whole project only works if we're cooperating, people can purposefully mess with the simulation in lots of other easier ways i

[2020-12-22 16:14] Eirikalb commented on #110
Yeah I think that this implementation makes sense too, I dont think people will intentionally try to hack into the server. This also allows for cheating, as `GetGifts` could return a list that does not equal the gifts actually offered in the gifting session

[2020-12-23 12:40] Eirikalb opened #116 "Add common pool contribution methods in Client"

[2020-12-23 17:23] NGovani opened #119 "Change AcceptGift function in baseclient"
Currently the AcceptGift function in the client allows the agent to change the recipient and offerer id, aswell as the amount offered. This would break the system if a malicious agent changed these values.

https://github.com/SOMAS2020/SOMAS2020/blob/a71dad4f23f4fe110a13bc3d13acdb7d7205e712/internal/common/baseclient/iito.go#L25-L36

[2020-12-23 17:30] NGovani opened #120 "Check the distributePredicition function in IIFO"
Potential loop break when assigning nil to array being iterated over

[2020-12-23 20:12] lhl2617 opened #122 "`GameStateUpdate` usage"
@preetl  suggested use of a mid-turn state update function `GameStateUpdate` in the server that is currently unused. This is actually quite vague because the client does not know at what point the function is called.

Each state-altering function should call their own individual function e.g. `ForageReturnUpdate` to update the resources. This makes it easier to program for clients

Thanks @mpardal

[2020-12-23 20:16] lhl2617 opened #123 "`Resources` should be a custom type. We need to decide whether it is an int/uint/float64"
Currently `Resources` is an `int`. We should make it a shared type like `Coordinate` etc.

The implementation of foraging seems to be using floats all around for resources. We should decide what type it should be.

I am on team int, but the current implementation is seemingly returning floats. Will this be rounded? Or should we use floats for resources?

[2020-12-23 20:19] lhl2617 commented on #123
thx @mpardalos for flagging

[2020-12-23 20:28] lhl2617 commented on #122
CC all infra reps -- @Darrekt @QFSW @JamesTev @Eirikalb  @Diregie-J @Neelesh99 @777jameskim @P-A-Ha

[2020-12-23 20:35] JamesTev commented on #123
Quite firmly feel that we should use floats since the current design outputs real-valued utility values. Rounding or any other form of truncation would distort the input-output relationship. Will create custom types though.

[2020-12-23 20:36] lhl2617 commented on #123
Go ahead and make that change :) -- nod from me to make every reference to resource e.g. (CostOfLiving)

[2020-12-23 20:55] lhl2617 commented on #123
@mpardalos and I + team1 are going to attempt to connect some dots here, together with issue #122. will update.

[2020-12-23 21:31] mpardalos opened #125 "Fix package-level globals in IIGO"
In [orchestration.go](https://github.com/SOMAS2020/SOMAS2020/blob/main/internal/server/iigointernal/orchestration.go), all state vars are package globals. These should *really* be in `gameState`.

This was already raised in the review:
![image](https://user-images.githubusercontent.com/2512446/103038248-a9133d80-4576-11eb-9b83-c7aa80c1f7d2.png)

Just mentioning it, but it works, so if no one feels

[2020-12-23 21:40] QFSW commented on #122
Without a way for a client to have a sense of timing for the `GameStateUpdate` I agree it's probably not helpful, you could do your suggested way or the `GameStateUpdate` could come with an `Event` enum that could be `ForagingReturn` etc.

[2020-12-23 21:41] lhl2617 commented on #122
yeah we're doing a post-mortem in team 1 discord if you want to join @QFSW

[2020-12-23 23:06] lhl2617 commented on #123
@JamesTev  we're fixing it now because it won't work with partial changes

[2020-12-23 23:36] mpardalos opened #126 "IIGO is broken"
https://github.com/SOMAS2020/SOMAS2020/blob/5b8ebfbe193484b5c3389d363b6df936d9db3125/internal/server/iigo.go#L14

This line ignores errors from `iigointernal.runIIGO()`. If you make the error a panic then you'll realise that IIGO is broken.

This is because `judgePointer`, `speakerPointer`, and `presidentPointer` are all initialised to `nil`:
https://github.com/SOMAS2020/SOMAS2020/blob/5b8ebfbe193

[2020-12-23 23:36] lhl2617 commented on #126
CC author @preetl @Neelesh99 approver @Eirikalb

#91. Bug was due to unresolved comments on PR.

[2020-12-23 23:43] mpardalos opened #127 "Errors ignored"
This is the result of searching for ignored errors in the code. I'm sure that at least some of these are fine, but also that at least one is actually a bug. We really shouldn't be doing this. If you don't know how to handle the error then just make it into a panic so that at least we can see the crash and try to address it. Even just leaving a `// FIXME error ignored` would be ok.

[code]

[2020-12-23 23:44] lhl2617 commented on #127
![image](https://user-images.githubusercontent.com/33488131/103044537-cb0dbf80-4578-11eb-9e17-333b63dfacad.png)

#91 as well.
CC authors @preetl @Neelesh99 approver @Eirikalb

[2020-12-23 23:45] lhl2617 commented on #127
CC @JamesTev foraging code on `CreateDeerHunt`

[2020-12-24 05:58] JamesTev commented on #123
Ah okay - already pushed changes to `infra-feat-foraging` branch regarding this but was still in process of checking. But looks similar to what you've  done.

[2020-12-24 20:30] lhl2617 commented on #119
@Darrekt taking over for now

[2020-12-24 21:07] lhl2617 opened #135 "!BREAKING CHANGE! Passing server pointer now with a `ReadOnlyServer` Interface"
This lets clients get the latest game state without complicated game state updates.

The reason we didn't want to do this in the beginning is the risk of people casting the server pointer and doing malicious actions against it.

Unfortunately, this server-client paradigm is _extremely hard_ to wrap our heads around, proven by the sheer amount of broken stuff written to follow this paradigm.

Team

[2020-12-24 21:07] lhl2617 commented on #135
assigned to @mpardalos

[2020-12-24 21:09] lhl2617 commented on #135
CC all infra reps, after this resolving, server DOES NOT NEED TO pass newest game state or update game state to clients--clients can call a function on their own copy of the `ReadOnlyServer` pointer, given at the start of the turn.

# THIS ALSO MEANS WE NEED TO MAKE SURE NO AGENT CODE DOES MALICIOUS ACTIONS ON THE SERVER POINTER. FOR THE SAKE OF SECURITY, I WILL NOT GIVE AN EXAMPLE ON HOW THIS CAN

[2020-12-24 21:14] QFSW commented on #119
I don't think the client should be responsible for mutating or processing the gift offerings, they also shouldn't be able to see gifts that aren't offered to them. How I would imagine this to would

Introduce a `GiftOffer` struct. This just contains the amount, and the client offering that. Can also include the recipient but redundant

Introduce a `GiftResponse` struct. This contains the amount ac

[2020-12-24 21:14] lhl2617 commented on #123
#128 partially fixes this. There are still references to int values for resources in #121

[2020-12-24 21:17] lhl2617 commented on #122
#135 makes this function redundant. This will be removed.

[2020-12-24 21:17] #122 closed

[2020-12-24 21:18] lhl2617 commented on #102
golint is our smallest problem now.

[2020-12-24 21:18] #102 closed

[2020-12-24 21:18] lhl2617 commented on #101
golint is our smallest problem now.

[2020-12-24 21:18] #101 closed

[2020-12-24 21:20] lhl2617 commented on #135
@mpardalos
+ [ ] Remove `StartOfTurnUpdate` and `GameStateUpdate`
+ [ ] Make `ReadOnlyServer` interface
+ [ ] Pass pointer to `ReadOnlyServer` to client on startup

[2020-12-24 21:35] NGovani opened #136 "IIGO Tax Collection doesn't change the server gamestate"
https://github.com/SOMAS2020/SOMAS2020/blob/a71dad4f23f4fe110a13bc3d13acdb7d7205e712/internal/server/iigo.go#L19-L42

In the above code when the  resources are deducted from the newGameState that's only a copy of the server gamestate and thus the servers gamestate is never actually updated. This results in a discrepancy between what the amount of resources the server thinks the client has and what

[2020-12-25 00:48] lhl2617 commented on #123
![image](https://user-images.githubusercontent.com/33488131/103112082-e0531e80-464a-11eb-9635-e469aa403a04.png)

[2020-12-25 00:48] #123 closed

[2020-12-25 13:39] lhl2617 opened #141 "Harmonising Resources"
Cost of Living: 10
Service charge: 10
Avg salary: 50

forage return: 1

[2020-12-26 16:51] Neelesh99 commented on #136
Resolved in PR #138, iigo.go line 69 ;)

[2020-12-26 16:51] #136 closed

[2020-12-26 16:57] Neelesh99 opened #142 "[INFRA/RULES] Change Rule function return types to more useful enumerated messaged rather than errors"
Following on from comments on PR #138, we will change globalrulescache.go so it interfaces more agreeably with IIGO.

[2020-12-26 16:58] Neelesh99 commented on #125
PR #138 has a (sort of) fix for this. no one will be hunting for variables every again, its fed directly through signature.

[2020-12-27 00:29] lhl2617 commented on #135
Resolved by #139

[2020-12-27 00:29] #135 closed

[2020-12-27 11:34] mpardalos opened #143 "Have a way to not forage"
I tried to do that by contributing 0 resources but that results in NaN returns,
breaking the whole game. Should we maybe have a `NoForaging` `ForageType`?

[2020-12-27 20:59] mpardalos opened #154 "No notification of disaster"
There is currently no update to the clients when a disaster happens. I understand that disasters have not been fully implemented yet, but we should probably add an event like `Client.DisasterHappened`.

[2020-12-27 21:02] lhl2617 commented on #154
I remember from convos with @yp717 that islands just the next turn to realise that their resources disappeared -- this signifies a disaster. Not sure if that is changed.

[2020-12-28 12:31] Neelesh99 commented on #126
Fixed in #148

[2020-12-28 12:33] Neelesh99 commented on #127
For IIGO in the most part we have changed all of this in #138 , #148 , #152

[2020-12-28 12:33] Neelesh99 commented on #142
Fixed in #152

[2020-12-28 12:33] #142 closed

[2020-12-28 13:52] lhl2617 opened #159 "IIGOHistory has no turn mapping"
Currently IIGOHistory is just a slice of all added stuff since the beginning of the game. There is no way to know what turn something was added.

In #148 @preetl proposed letting judiciary etc. access to `GameState` history. This is a good idea--we can clear that IIGO history slice every start of turn.

Wondering what your thoughts are. Having access to `GameState` history runs the risk of acciden

[2020-12-28 13:53] lhl2617 opened #160 "BaseClient functions do not have BASE|OPTIONAL|COMPULSORY note"
As title.

[2020-12-28 14:03] #126 closed

[2020-12-28 14:08] mpardalos commented on #125
The globals are still there, but they seem to be basically unused? I'm not sure if that is actually the case. Can we remove them?

[2020-12-28 14:10] mpardalos commented on #116
Should this be an event that the clients can respond to or should it just be a method they can call at any time?

I think it should be an event since that is how we have done basically everything until now.

[2020-12-28 14:13] lhl2617 commented on #141
@mpardalos can u pls share your findings with us? :D

[2020-12-28 16:12] Neelesh99 commented on #125
Not quite unused, they are used to keep persistence of certain variables (e.g. cumulative sanction values) across turns. We could technically move to gamestate, but I think that would be messier than the current implementation where these globals are only used by one function in the file that they are defined in.

[2020-12-28 16:17] mpardalos commented on #160
Can you give an example of this? I've seen these notes in most (if not all) of `baseClient`'s implementations of `Client` methods.

[2020-12-28 16:41] Neelesh99 commented on #159
Yeah I agree, we will need to add turn logging to the IIGOHistory (scoped as part of post-MVP IIGO) and also I think we might need to maintain a mini-cache of it in IIGO for our Historic Justice model of sanctioning (post-MVP IIGO).

[2020-12-28 17:16] mpardalos opened #164 "How to check that communication is coming from president?"
Since anyone can send communications to anyone, you need a way to check that "official" communications are coming from the correct agent (i.e. the current president/judge/speaker) is there any way to get the ID of the current e.g. president, judge and speaker?

I'm trying to write this code:

[code]

What would go into `__isPresident__(sender)`?

I am simply trying to pay my taxes like a law abidi

[2020-12-28 17:17] mpardalos commented on #164
CC: @Neelesh99 @preetl

[2020-12-28 17:38] Neelesh99 commented on #164
This is something that we will add to the global variable cache for post MVP, currently (and quite crudely) it's global in the iigointernal package, we will remove that in post-MVP. If you think there's a better/more secure way of storing this info pls let us know.

[2020-12-28 17:39] mpardalos opened #166 "IIGO never runs due to lack of funds"
IIGO runs only if there is resources in the common pool to pay the officials. But the common pool only gets resources from taxes, which are set *by the officials that are not being paid*. So IIGO never has a chance to run.

Possible fixes:
* Have an initial amount in the common pool
* Broadcast an initial tax amount at the start
* Hardcode our agents to pay some tax on the first round, even though

[2020-12-28 18:01] mpardalos opened #167 "IIGO nil pointer dereference"
I got the clients to contribute something to the common pool to get IIGO to run and this was the result:

<details>
<summary>Output</summary>
<p>

`> go run .  -foragingMaxDeerPerHunt 60 -maxTurns 500 -initialResources 500`

[code]
</p>
</details>

[2020-12-28 18:03] Neelesh99 commented on #166
This is something being actively worked on for post-MVP IIGO, we will hopefully be able to allow Islands to us their own salaries to pay for their IIGO commitments if the common pool is lacking @Spruudis might be able to better shed some light on this?

[2020-12-28 18:07] Neelesh99 commented on #167
Apologies it seems that in baseclient_iigo.go we haven't passed in the base implementations of the roles. I'll make a quick fix for this via PR, but for more immediate remedy on lines 33, 38 and 43 of baseclient_iigo return references to the base[roles] provided in the baseclient folder.

[2020-12-28 18:21] Neelesh99 commented on #167
#168 opened to fix

[2020-12-28 19:09] lhl2617 commented on #164
# TTP method

the server can be modelled as a TTP (Trusted Third Party) to verify the identity of a message sender.

each turn the server generates a random number `p` for the president.

the server (defined in the `ServerReadHandle`) has a cryptographic hash fn `f(p, t)` where `p` is as above, `t` is the target client ID

the president, when sending a message to `t`, calls the `f(p, t)` function

[2020-12-28 19:15] mpardalos opened #169 "Zero contribution to hunt causes divide by zero"
https://github.com/SOMAS2020/SOMAS2020/blob/17541762ee229cd9ff993a7a5c65ded8cb137a8b/internal/server/forage.go#L67-L73

We need to check if the total contribution is zero and just not run the hunt in that case.

[2020-12-28 21:23] Spruudis commented on #166
We are working on this yes, it is taking some time though because as it turns out (surprise, surprise) a budget and having actions cost resources from the CP is really integral to the whole operation of IIGO and slightly touches almost every part and we want to make sure it actually functions as intended before we PR it out to you guys xd

[2020-12-29 10:26] lhl2617 commented on #160
Mostly iigo

[2020-12-29 11:10] Neelesh99 commented on #167
Can this be closed? @mpardalos

[2020-12-29 11:23] mpardalos commented on #167
Yup it's good now. Closing.

[2020-12-29 11:23] #167 closed

[2020-12-29 13:23] JamesTev commented on #169
Fixed. PR coming now

[2020-12-29 13:23] #169 closed

[2020-12-29 13:24] JamesTev commented on #143
I think just contributing zero resources makes sense? This is what I've done in latest PR #176

[2020-12-29 13:54] JamesTev commented on #154
Have implemented a disaster notification method in the base client in PR #176

[2020-12-29 15:39] JamesTev commented on #141
Addressed in #176

[2020-12-29 16:52] lhl2617 opened #179 "[VIS] issues and improvements from LH"
# Features
- output codeblocks
  - search by line
  - display on demand (rn it is slow because it displays the whole 2kloc of logs and output)
- new run
  - get the type properly and validate/block the input forms
  - use web workers to not block the main thread
  - make run cancellable (bluebird?)

# Bugs
- navbar freezes when codeblocks rendered.
  - unable to repro reliably, but the solution sh

[2020-12-29 17:56] #119 closed

[2020-12-29 23:41] #141 closed

[2020-12-29 23:42] #143 closed

[2020-12-30 15:33] #120 closed

[2020-12-30 16:55] MikeIsMike opened #206 "IIFO determineConfidence uses 0.0 as total values"
In internal/common/baseclient/iifo.go, inside function determineConfidence, the varianceSum(line 101 ish) is equal to (totalCoordinateX + totalCoordinateY + totalMagnitude + totalTurn)/numberDisasterPassed, where the 4 total values are all set to 0.

I'm assuming they were meant to be totalDisaster.CoordinateX, totalDisaster.CoordinateY, totalDisaster.Magnitude and totalDisaster.Turn respectively?

[2020-12-31 17:21] lhl2617 commented on #179
closing--tracking in new issues

[2020-12-31 17:21] #179 closed

[2020-12-31 17:26] lhl2617 opened #215 "[VIS] Notes on using web workers for WASM"
- Using [web workers](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers) essentially allows the use of a separate thread to run the WASM code.
- Web workers do not have access to the global/window of the main thread, which is where the Go code sets entrypoints to WASM functions Golang, unlike rust/c/c++, does not export functions into modules, as per https://www.si

[2020-12-31 19:04] lhl2617 opened #219 "[VIS] where is my short git hash on the navbar"
seems like it was removed in #210

[2020-12-31 19:05] lhl2617 commented on #215
closing because it's a core golang issue

[2020-12-31 19:05] #215 closed

[2020-12-31 19:06] lhl2617 commented on #215
we are also getting _very good_ runtimes with non-web worker solutions. the freezing problem is solved by #202 #216

[2020-12-31 19:30] lhl2617 opened #220 "[VIS] Navbar logo routes to wrong URL"
# Repro:
- https://somas2020.github.io/SOMAS2020/#/
- click the navbar logo
- 404 @ https://somas2020.github.io/

Might be caused by some changes caused by @Darrekt  and @yp717 ?

[2020-12-31 19:33] lhl2617 commented on #206
cc blame author @Eirikalb ; PR #85 approver @lhl2617

https://github.com/SOMAS2020/SOMAS2020/blob/6902390f5a7401a3b6d1ec9e36c54274eb990a86/internal/common/baseclient/iifo.go#L101

[2020-12-31 19:36] lhl2617 commented on #206
@MikeIsMike good eye -- this part is not used at all in the accumulation

![image](https://user-images.githubusercontent.com/33488131/103423596-62899880-4b9f-11eb-8204-378fa493df19.png)

[2020-12-31 19:36] lhl2617 commented on #206
assigned to @Eirikalb

[2020-12-31 19:46] lhl2617 commented on #220
Resolved by #214

[2020-12-31 19:46] #220 closed

[2020-12-31 19:47] lhl2617 commented on #219
Resolved in #214

[2020-12-31 19:47] #219 closed

[2020-12-31 20:03] ezgimez commented on #166
oh god, help us about this situation. hopefully the _permission_ and _obligation_ difference will kinda solve this problem in terms of sanctions

[2021-01-01 21:57] lhl2617 opened #224 "[IIGO] Pass server pointer as logger to use in `iigointernal`"
https://play.golang.org/p/GV5GQ-HJMeT

[2021-01-01 22:10] lhl2617 commented on #110
any updates or is this actually resolved?

[2021-01-01 22:13] #154 closed

[2021-01-02 11:41] preetl commented on #164
@lhl2617 I see the merit in your proposal but I would say that it is safe to assume that no team is going to be coding maliciously and making agents to take advantage of the infrastructure we have put in place. I think it is not necessary to go to such lengths to have secure communication. In my opinion, it is sufficient to have the president, speaker and judge role ids accessible but read only fo

[2021-01-02 11:51] mpardalos commented on #164
I'm with @preetl here. I think the best way to do this is to just have the officials' IDs in the `ClientGameState`. The sender is set by the server anyway so I don't really see how a client could maliciously/erroneously mess with that.

[2021-01-02 13:34] lhl2617 commented on #164
Ah fairs! Yep, it's what I meant with the "via server method"

[2021-01-02 14:39] preetl commented on #164
Solved in PR #226

[2021-01-02 14:39] #164 closed

[2021-01-02 16:33] Eirikalb commented on #110
I think this actually might be resolved already

[2021-01-02 20:31] mpardalos opened #240 "Add validation where client methods are called"
I just had a bug in my client where I was accidentally returning `shared.ForageType(-1)` from my `ForageDecision()`. The error message was something about a nil pointer here:

https://github.com/SOMAS2020/SOMAS2020/blob/7f0b3f62cdc911afeff6d387f2e595e7aea3a9fc/internal/server/forage.go#L41

I think we should add some validation to values returned by agent methods to make this kind of bug easier to

[2021-01-02 23:37] lhl2617 commented on #206
took over as this was stale. see #245

[2021-01-03 06:39] JamesTev commented on #240
Thanks for raising this @mpardalos. Will check it out.

[2021-01-03 14:06] #240 closed

[2021-01-03 14:11] preetl opened #249 "[IIGO] Rename GetTax to GetCommonPoolContribution"
Tax/Contribution are causing confusion. The tax is a minimum contribution so it makes sense for this function to be called GetCommonPoolContribution. Just putting this here so we don't forget to do this after #208 is merged.

[2021-01-03 16:31] E-Mac27 opened #252 "Foraging DeerHunt. Hunting negative deers."
Hi!

I was messing about with the configs such that the foragingMaxDeerPerHunt == foragingDeerMaxPopulation (if you wish to reproduce this error). I was curious what would happen.

It seems like agents are allowed to hunt negative deers?

![image](https://user-images.githubusercontent.com/44125446/103483684-e1214880-4de0-11eb-8dae-63f5a7eacd55.png)
![image](https://user-images.githubusercontent.co

[2021-01-03 16:40] JamesTev commented on #252
Would you please try again with latest changes? May have fixed this behaviour

[2021-01-03 17:13] E-Mac27 commented on #252
We had a mini call to discuss this:
- Yes the most recent changes fixed this behaviour.
- MaxDeerPopulation is expected to be 2 or 3 times bigger than MaxDeerHunt for Deer Foraging to work properly.
- Placing MaxDeerPopulation == MaxDeerHunt breaks Deer Foraging such that all returns are 0. @JamesTev is looking into this.

[2021-01-03 17:24] JamesTev commented on #252
Have figured out why - pMax and pCritical are equal if max deer per hunt and max population are equal so there will be a division by zero. Actually never considered this case because you'd never really want them equal but it definitely shouldn't break if you did for some reason. Will push a fix now - thanks for bringing this up @E-Mac27!
[code]

[2021-01-03 18:07] #206 closed

[2021-01-03 18:54] #252 closed

[2021-01-04 09:35] #116 closed

[2021-01-04 09:35] #110 closed

[2021-01-04 12:47] Neelesh99 opened #260 "[IIGO] Use of errors as return types"
PR #208 has moved a lot of IIGO return types to errors. We moved a lot of these away from errors during the end of MVP to ensure that we weren't just using errors as a data structure, most of these newly returned errors aren't logged or passed through. It seems a little like we are undoing some of the good work we did earlier, can we move back to named boolean returns.

[2021-01-04 12:49] ezgimez commented on #260
RIP my sanity xx

[2021-01-04 12:51] lhl2617 commented on #260
CC authors @akowal3 @tobhil98

[2021-01-04 12:56] tobhil98 commented on #260
We converted them back to errors as from our understanding of the design, insufficient funds in the common pool should be treated as an error by IIGO and terminate the current session.

[2021-01-04 13:04] preetl opened #261 "Is TaxTaken in Baseclient necessary?"
@mpardalos it seems like this function is redundant as there is never a case when you would not pay the tax you intended to.

[2021-01-04 13:13] Neelesh99 commented on #260
That's fair, but could we not use a boolean to signal that, especially because the returned error is checked for nilness and then thrown away. If this is the only function of this error I think it would be better if we move it to boolean. Same for appointing new roles and the changes to Monitoring which now requires refactoring away from booleans to errors if the current return types are kept.

[2021-01-04 13:15] Neelesh99 opened #262 "[IIGO] Move Judge constants to params file"
Was meant to move earlier, 3 constants at top of judiciary.go should be settable in params file.

[2021-01-04 13:35] lhl2617 opened #263 "[INFRA] Make certain params visible|selectively visible|always invisible to client"

[2021-01-04 13:35] lhl2617 commented on #263
@JamesTev @NGovani @Eirikalb

[2021-01-04 13:36] lhl2617 commented on #263
Impl for client: selectively visible items are in a struct where there is a boolean flag saying whether it is visible for this round or not.

[2021-01-04 13:37] tobhil98 commented on #260
Originally we were returning the error from IIGO so that it could be handled by the server. We had a merge conflict with that so I patched it quickly by returning a string instead where needed. Another reason for choosing to return errors rather than bools was for example the replyAllocationRequest function which would then return a tuple of two booleans making it unclear exactly what each bool me

[2021-01-04 13:39] lhl2617 commented on #263
waiting for a list of params that falls under each of these three categories.

[2021-01-04 13:46] Neelesh99 commented on #260
Fair enough, the rules are deffo the priority. Please do keep this in mind though. I guess we will need to refactor monitoring for now then.

[2021-01-04 13:47] Neelesh99 opened #265 "[RULES] Make available easier to use rule evaluation tools"
As per discussion in discord, add more compact and easier to understand rule evaluation tools. Ensure these are used in baseclient as well ;).

[2021-01-04 13:59] Eirikalb commented on #263
Will discuss a bit further and will get back shortly

[2021-01-04 14:00] lhl2617 commented on #263
created #266 for this

[2021-01-04 14:02] NGovani commented on #263
costOfLiving - Always Available
minimumResourceThreshold - Always Available
maxCriticalConsecutiveTurns  - Always Available
disasterCommonpoolThreshold - Sometimes Available
disasterMagnitudeResourceMultiplier - Sometimes Available

[2021-01-04 14:02] NGovani commented on #263
So these are the 5 initial ones, the rest of should never be shared

[2021-01-04 14:03] NGovani commented on #263
There's also the ones that James is about to add those should probably all be - Sometimes Available

[2021-01-04 14:11] mpardalos commented on #261
Completely agreed, should I remove it?

[2021-01-04 14:30] NGovani commented on #261
There is one case where an agent doesn't properly note how many resources it has. However they should just check in getTaxContributions. So yeah it would make sense to remove

[2021-01-04 14:31] Neelesh99 commented on #262
Fixed with #264

[2021-01-04 14:31] #262 closed

[2021-01-04 14:53] preetl commented on #261
I've just PR'ed to remove it but thanks @mpardalos !

[2021-01-04 15:44] lhl2617 commented on #263
@JamesTev waiting for yours in foraging

[2021-01-04 15:47] JamesTev commented on #263
Just opened #270. Relevant params would likely be `StochasticPeriod` (bool of whether or not disaster has stochastic period) and `Period` (actual or expected period between disasters)

[2021-01-04 15:50] lhl2617 commented on #263
ok, I think i'll  merge #266 first then we can do foraging in the future

[2021-01-04 16:09] preetl commented on #261
Solved in PR #268

[2021-01-04 16:09] #261 closed

[2021-01-04 16:11] NGovani commented on #263
disasterMagnitudeResourceMultiplier - This should never be available, apologies i made a mistake as to its usage

[2021-01-04 21:53] MikeIsMike opened #277 "[IIGO] add checks for rule proposal for if immutable rules are changed(not allowed), if rule variables fields are changed(not allowed)"
Also read title please. Immutable rule check is already in place in modifyRule(), however modifyRule() is called in updateRule() which is after the proposal is voted on. Checks should perhaps be added in requestRuleProposal() (before the voting process).

[2021-01-05 16:59] Eirikalb opened #286 "[IIGO/VOTING] OpenBallot breaks simulation after PR #222"
PR #222

This error happened after running `go run .`

[code]

[2021-01-05 17:05] Ning-72 commented on #286
I have deleted changes on openballots in my new PR, hope that would be helpful. #283

[2021-01-05 19:58] lhl2617 commented on #263
closing. foraging stuff will be left to @JamesTev

[2021-01-05 19:58] #263 closed

[2021-01-05 23:44] preetl commented on #286
Behaviour is now as expected - OpenBallot func tests added in #290 which pass.

[2021-01-05 23:44] #286 closed

[2021-01-06 11:30] Neelesh99 commented on #265
Extra tooling has been added

[2021-01-06 11:30] #265 closed

[2021-01-06 16:44] lhl2617 opened #296 "[INFRA] `MaxTurns` and `MaxSeasons` default reduced to 10 from 100"
#227

[2021-01-06 16:50] NGovani commented on #296
I assume it was 10 for testing reason to see if things worked. Setting it back to 100 would be ideal for basic simulations

[2021-01-06 16:54] JamesTev commented on #296
Yeah my bad - was just for testing. Forgot to change back.

[2021-01-06 16:57] JamesTev commented on #296
Should I submit a PR to revert or what?

[2021-01-06 17:07] NGovani commented on #296
A PR would be great thanks!

[2021-01-06 17:22] JamesTev commented on #296
#297

[2021-01-06 17:44] NGovani opened #298 "Disasters not taking from the CP"
It seems currently disaster do not update/deplete the common pool when applying disaster affects.
So if there was 100 resources in the CP and a disaster of size 70 struck the islands. The CP would not be reduced to 30 but would stay at 100 after the turn ended

[2021-01-06 17:46] NGovani opened #299 "Epicentre not being calculated correctly"
There may be a potential issue with disasters not calculating the epicentre correctly.
On the web version setting the disasterMagnitudeLambda to 10 and the disasterMagnitudeResourceMultiplier to 1,000,000 doesnt seem to affect the islands at all and it may be due to the epicentre being x: -1, y : -1. This is a snippet from the output
![image](https://user-images.githubusercontent.com/44064172/1038

[2021-01-06 17:49] NGovani commented on #299
I realise now thats the default values, it seems instead the number is 0,0 for most disasters

[2021-01-06 18:01] JamesTev commented on #299
Yeah basically just look at magnitude. If it's 0, the x, y coordinates aren't applicable.

[2021-01-06 18:01] JamesTev commented on #299
MagLambda and multiplier also wouldn't affect that

[2021-01-06 18:08] NGovani commented on #299
Yup apologies this one is on me completely read the data wrong

[2021-01-06 18:08] #299 closed

[2021-01-06 20:39] #298 closed

[2021-01-06 20:39] #296 closed

[2021-01-07 12:00] QFSW opened #310 "[VIS] Setting costOfLiving to 5 breaks the simulation"
## Steps
1. Set `costOfLiving` to 5
2. Run simulation

## Results
![image](https://user-images.githubusercontent.com/11485449/103890331-c9e3a300-50df-11eb-877f-4e8b68e6926f.png)

## Notes
Resetting flags doesn't fix it, only refresh
`go run . --costOfLiving 5` works fine, so its a website specific error

[2021-01-07 13:39] lhl2617 commented on #310
@QFSW and I tried on bare metal and cannot repro.

I thought it was an 32-bit problem--so I compiled with `GOARCH=386` and tried running it bare metal on my system and still could not repro.

Might be some WASM problem/rand init stuff that is causing this problem.

The solution is to use a custom `float64` type and make sure the `MarshalJSON` function handles `NaN` properly.

[2021-01-07 13:40] lhl2617 opened #313 "[VIS] Add `prettier`"

[2021-01-07 13:40] lhl2617 opened #314 "[VIS] ScrollToTop on any visualisations render"

[2021-01-07 13:41] lhl2617 opened #315 "[VIS] `New Run` UI changes"
- Hide flags when run is successful
- Move error box to below the `New Run` header.

[2021-01-07 13:48] lhl2617 commented on #310
Ok. `WASM` is not 32-bit -- the logs on a new run indicate that it is indeed running at 64-bit. I have no idea now... It's likely a WASM-Go bug.

[2021-01-07 14:53] lhl2617 commented on #310
logdump after #317, maxTurns 2, costOfLiving 5
[code]

Formatted output log (last line from above): https://pastebin.com/dqsDQTtT

[2021-01-07 14:55] lhl2617 commented on #310
@Eirikalb
[code]
produces NaN

from logs
[code]

[2021-01-07 15:00] lhl2617 commented on #310
first point of `NaN` in output is in `CommonPool`.

[code]

[code]
in
[code]
PR #227 author @JamesTev  approver @preetl

[2021-01-07 15:03] lhl2617 commented on #310
Output dump (last line of logdump)
[code]

[2021-01-07 15:16] #315 closed

[2021-01-07 15:31] lhl2617 opened #321 "[INFRA/FORAGING] Should print error string when marshalling failed"
[code]

[2021-01-07 15:32] #314 closed

[2021-01-07 15:32] Eirikalb commented on #310
NAN actually come from make predicitions :
[code]
Will patch server to reject Nan predictions

[2021-01-07 15:32] lhl2617 commented on #321
#186 author @JamesTev reviewers @lhl2617  @NGovani

[2021-01-07 15:38] lhl2617 commented on #159
resolved by #241

[2021-01-07 15:38] #159 closed

[2021-01-07 15:38] lhl2617 commented on #224
resolved by #229

[2021-01-07 15:38] #224 closed

[2021-01-07 16:51] preetl commented on #160
Resolved in PR #250

[2021-01-07 16:51] #160 closed

[2021-01-07 17:06] #321 closed

[2021-01-07 18:08] lhl2617 commented on #313
Resolved by #325

[2021-01-07 18:08] #313 closed

[2021-01-07 18:09] lhl2617 opened #327 "[VIS] panic during cost of living = 5"
![image](https://user-images.githubusercontent.com/33488131/103928184-61161e00-5113-11eb-9ff7-df11c8dd6563.png)

## Repro

https://somas2020.github.io/SOMAS2020/#/newrun

Change `costOfLiving` to 5

Run

![image](https://user-images.githubusercontent.com/33488131/103928233-7428ee00-5113-11eb-8d3d-332e5add8203.png)

console logs

![image](https://user-images.githubusercontent.com/33488131/103928256

[2021-01-07 18:10] lhl2617 commented on #327
can be reproduced by @QFSW as well

[2021-01-07 18:11] lhl2617 commented on #327
panicking line:
https://github.com/SOMAS2020/SOMAS2020/blob/de7dcd4070831255aa2091e7688fc59c17cd66cd/internal/clients/team2/client.go#L157

assigning to @Eirikalb, blame author @Hamish989

[2021-01-07 18:12] lhl2617 commented on #327
offending commit https://github.com/SOMAS2020/SOMAS2020/commit/07ba2a41d9f014440888a044dcb1bf0b164e221a author @Hamish989

[2021-01-07 20:03] lhl2617 commented on #327
see #330 for recover and better logs and ui when panic

[2021-01-07 20:04] #327 closed

[2021-01-07 20:08] lhl2617 commented on #310
https://pastebin.com/Dsd7D1CU

not fixed. reopening

[2021-01-07 20:10] lhl2617 commented on #310
@JamesTev that issue still persists

[2021-01-07 20:12] lhl2617 commented on #310
@Neelesh99 @preetl IIGO:

![image](https://user-images.githubusercontent.com/33488131/103940040-ab53cb00-5124-11eb-8d4d-e33f190030e1.png)

[2021-01-07 20:33] lhl2617 opened #334 "Fix `NaN` in Final Prediction"
`go run .`
[code]

Team 6 @Diregie-J  @Regnigh
Team 3 @preetl @Neelesh99

[2021-01-07 20:34] lhl2617 opened #335 "RIP WASM - Make program run on bare metal server"
@EthanSK will pick up

[2021-01-07 20:37] lhl2617 commented on #310
have a look into these issues if you can, but I strongly think this is an issue with golang wasm. we will move to running bare metal golang as per #335 .

[2021-01-07 20:44] Neelesh99 commented on #334
We've got a fix for this in the works, will PR when ready.

[2021-01-07 20:46] dejay-vu commented on #334
same here will pr soon

[2021-01-07 20:46] Neelesh99 commented on #310
Looking at it rn, can't seem to repro the tax Nan's. Was the only condition costOfLiving set to 5?

[2021-01-07 21:28] lhl2617 commented on #310
@Neelesh99 yes, and it's only on webassembly, so it's something really strange. One thing you can do is set up the website (for local development) and put prints in the code to see where the `NaN` came from. `log.Printf/fmt.Printf` in WASM just gets logged to your chrome console.

[2021-01-07 22:12] lhl2617 commented on #33
nah

[2021-01-07 22:12] #33 closed

[2021-01-08 09:01] Eirikalb opened #341 "[VIS] Enable tuning agents through params on Website"
Discussed this briefly with @yp717: Would it be possible to add a way to configure agents in the params file?

Some considerations:
    -  Option to run multiple instantiations of the same agent.
    -  Maybe dropdown menu where only the relevant params for that agent is showed
    -  Agent specific params should be able to be different to allow simulating different versions of the same agent in t

[2021-01-08 11:14] Eirikalb opened #343 "[INFRA/IIGO] nans in broadcastTaxation"
Nans in BroadcastTaxation.

Reproduce by running: https://somas2020.github.io/SOMAS2020/#/newrun, new run and check logs if you get an oh REEEEEEE message:

![image](https://user-images.githubusercontent.com/25349833/104009215-f57f8f80-51aa-11eb-8ebd-bd2ce089e588.png)

# Log
[code]

[2021-01-08 11:16] Eirikalb commented on #343
@Fabio752  and @akowal3 seems to be authors. @Spruudis or @Neelesh99 could one of you fix this error?

[2021-01-08 11:17] Neelesh99 commented on #343
We're patching all global vars right now, hopefully, this will patch the NaN issue as @lhl2617 mentioned. If not I'll forward to @Fabio752 and @akowal3.

[2021-01-08 11:19] Eirikalb commented on #343
Cheers, sweeet!

[2021-01-08 12:17] lhl2617 commented on #335
The problem is not with go wasm but with globals. Aborting this

[2021-01-08 12:17] #335 closed

[2021-01-08 12:18] lhl2617 commented on #343
This is because globals are not reset

[2021-01-08 12:26] lhl2617 commented on #310
This is due to globals. @Neelesh99 is working on it now.

[2021-01-08 15:42] lhl2617 opened #347 "[VIS] Double github in footer"
![image](https://user-images.githubusercontent.com/33488131/104033880-0ab6e700-51c8-11eb-93f3-2d8898172c7d.png)

[2021-01-08 15:42] lhl2617 commented on #347
added in #325

[2021-01-08 16:29] #347 closed

[2021-01-08 16:29] lhl2617 commented on #347
#351

[2021-01-08 18:09] lhl2617 commented on #341
changing agents likely would be difficult, but let's go from the simple problem of mutating settings inside the initial state of the agent/parameters.

this would require some golang tweaking. you would need to add CLI flags to the code and figure a way to mutate these params in each client.

the process:
1. add flags for the team requiring this
2. add a function in the client interface called "Co

[2021-01-08 18:10] lhl2617 commented on #341
from this point we might be able to do more complex stuff, but I doubt at the current timeframe it is possible from the vis. you might be better off running a local copy and uploading the `output.json` to vis.

[2021-01-08 18:21] Eirikalb commented on #341
The procedure sounds very reasonable, and I think it should be easy to add this on a needs basis in each client if they want to be able to tweak their client. It would technically break baseclient, by adding the configure method which is less than ideal but I can make a PR on it tonight if I get the go ahead

[2021-01-08 19:38] lhl2617 commented on #343
this issue should be resolved by #357 . @Eirikalb can you check if this can be repro

[2021-01-08 19:39] lhl2617 commented on #310
Closing, resolved by #357 .
Further NaN discussions in #334 and #343

[2021-01-08 19:39] #310 closed

[2021-01-08 19:39] lhl2617 commented on #334
@Regnigh thanks! resolved from your side in #339

[2021-01-08 19:44] Eirikalb commented on #343
@lhl2617 not on my computer currently so unable to repro, won't be able to write anything the next 2/3 hours

[2021-01-08 19:48] lhl2617 opened #359 "[INFRA/IIGO] Panic when initialResources is increased"
Repro steps:
[code]

logs:
[code]

[2021-01-08 19:48] lhl2617 commented on #359
occurs with initialResources 1000 as well.

[2021-01-08 19:50] lhl2617 commented on #359
i think problem is introduced when globals are removed. might be solved when `monitoring` is non-global.

[2021-01-08 19:53] lhl2617 commented on #341
yeah, there would need to be some hardcoding, Green light from me!

[2021-01-08 19:56] Eirikalb commented on #343
@lhl2617 tried reproducing cause and log showed tax in first round be real values, so AFAIK the issue is resolved

[2021-01-08 19:56] #343 closed

[2021-01-08 23:42] lhl2617 commented on #334
Team3 solved in #358

[2021-01-08 23:42] #334 closed

[2021-01-08 23:43] lhl2617 commented on #249
quite stale, any progress?

[2021-01-08 23:44] lhl2617 commented on #125
#344 #346 #354 #360

[2021-01-08 23:59] lhl2617 commented on #125
#363 #362

[2021-01-08 23:59] lhl2617 commented on #125
resolved!

[2021-01-08 23:59] #125 closed

[2021-01-09 00:00] lhl2617 commented on #359
globals are gone. trying to repro.

[2021-01-09 00:02] lhl2617 commented on #359
[code]

[2021-01-09 00:08] lhl2617 commented on #359
@Diregie-J @Regnigh problem with `internal/clients/team6/judge.go:21`

https://github.com/SOMAS2020/SOMAS2020/blob/28fab4bd7901036cec401bb66328083e1739efed/internal/clients/team6/judge.go#L21

[2021-01-09 00:43] #359 closed

[2021-01-09 00:48] lhl2617 commented on #127
closing this. further discussion in #260

[2021-01-09 00:48] #127 closed

[2021-01-09 00:59] lhl2617 commented on #277
any progress? @preetl @Neelesh99 could just close if feat. freeze prevents this.

[2021-01-10 03:29] MikeIsMike opened #377 "Disaster prediction calculation issues"
Correct me if I'm wrong on the following observations.

https://github.com/SOMAS2020/SOMAS2020/blob/cef46aea1a1c649b0758a74e8641dab036373fc7/internal/common/baseclient/iifo.go#L84
On this line, should the Turn value be set to : `Turn:    uint(math.Floor(totalTurn/numberDisastersPassed)) - uint(totalTurn)%uint(numberDisastersPassed), // gives the number of turns left until the next disaster` ? Sinc

[2021-01-10 10:30] lhl2617 commented on #377
Assigning to blame author @Eirikalb

[2021-01-10 11:40] preetl commented on #249
yeah I think i'll close this , doesn't seem worth changing a client side function name now

[2021-01-10 11:40] #249 closed

[2021-01-10 11:44] preetl commented on #166
I believe this is now resolved as @Neelesh99 has set the default initial common pool to 1000

[2021-01-10 11:44] #166 closed

[2021-01-10 17:47] Neelesh99 opened #383 "Team 2 Client asking for negative allocation"
![Screenshot 2021-01-10 173309](https://user-images.githubusercontent.com/45288390/104130964-961cad80-536b-11eb-82fa-d66db7500e5d.png)

@lhl2617 put a new guard into allocations in #380 to prevent negative values being taken from common pool. This has resulted in any negative allocations causing program crash. @Eirikalb or any Team 2 peeps, could you pls have a look?

(Default main params btw)

[2021-01-10 19:19] Eirikalb commented on #383
Pr with fix coming soon sorry!!!

[2021-01-10 23:40] lhl2617 opened #386 "[TEAM4] Client using `testing` package in non-test client code"
`judge` is using a testing object to log to it. This is not a great pattern -- you should instead pass in a logger function.

[2021-01-10 23:41] lhl2617 commented on #386
CC @MikeIsMike @akowal3

[2021-01-10 23:41] lhl2617 commented on #386
introduced in #369

[2021-01-11 11:12] Eirikalb commented on #383
Should be fixed. Crossing fingers

[2021-01-11 11:12] #383 closed

[2021-01-11 11:44] preetl commented on #277
Yea, i think it's a bit late now

[2021-01-11 11:44] #277 closed

[2021-01-11 13:11] #386 closed

[2021-01-11 18:21] ramon15749 opened #406 "[VIS] Different Visualisation between new run and CI Output"
https://user-images.githubusercontent.com/35395504/104224610-24ad2f80-543d-11eb-953b-ab49c202b7c2.mp4

Different visualisations are shown on the CI Output page and on the New Run page

Also, downloading outputs from CI output and from New Run results in different file

[2021-01-11 18:43] E-Mac27 commented on #406
Ah. That might be because of Team 1 Agent. _I think_

[2021-01-11 18:47] ramon15749 commented on #406
@E-Mac27 yeah, I realised. Turns out the problem was something else as well (the CI Output and New Run giving me different graphs which I thought was the IIGO Payments problem but turns out it affects everyone. Sorry for the confusion

[2021-01-11 19:08] tharusha-a commented on #406
The issue is that you are an idiot :) (jk)

[2021-01-11 19:10] #406 closed

[2021-01-11 19:11] ramon15749 commented on #406
@tharuraht oi r00d, you didnt know what CI stood for either

[2021-01-11 20:47] lhl2617 commented on #260
closing. feature freezed

[2021-01-11 20:47] #260 closed

[2021-01-11 20:47] lhl2617 commented on #341
closing. inactive. tuning by sim team instead (@mpardalos _et al._)

[2021-01-11 20:47] #341 closed

[2021-01-11 22:53] lhl2617 commented on #377
closing this -- stale. client should override if requirec correct feature. @MikeIsMike feel free to reopen and pr

[2021-01-11 22:53] #377 closed

[2021-01-13 18:45] ramon15749 opened #439 "Some agents has put same people in the ballot multiple times"
Some agents (Team3, Team4 and Team6 (might be others but this is what I found)) has put the same people in the ballot multiple times.

![image](https://user-images.githubusercontent.com/35395504/104504470-66bfa800-55da-11eb-91b6-32d27cdcdf4a.png)

[error.zip](https://github.com/SOMAS2020/SOMAS2020/files/5810835/error.zip)

[2021-01-13 18:45] ramon15749 commented on #439
[output.zip](https://github.com/SOMAS2020/SOMAS2020/files/5810513/output.zip)

[2021-01-13 20:07] preetl commented on #439
Team 3 has fixed this issue (for our team)! With thanks to @Neelesh99 and @ramon15749

[2021-01-13 20:08] Ning-72 commented on #439
Sorry, I think it's fixed now #440

[2021-01-13 22:05] #439 closed